.homeHeading {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
}

/* animation of car */

.bookingImg {
  width: 100px;
  height: 100px;
}
/* animation for slider(scroll) */
.scrollContainer {
  overflow: hidden;
  width: 100%;
}

.scrollContent {
  display: flex;
  animation: scroll 10s linear infinite;
}

.scrollContent img {
  width: 300px;
  margin-right: 70px;
}
.testmonialImg {
  width: 300px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* styling section 4 */
.Car2Img {
  width: 600px;
}

.iphoneIMg {
  width: 400px;
}
.section-5 {
  background-image: url(../../assets/images/landing-page/sec-6/bg-sec6.png);

  height: "400px";
}
